<!DOCTYPE html>
<html>
<head><title>Form Submission</title></head>
<body>
<h1>User Form</h1>
<form action="/submit" method="POST">
<label>Name:</label><br>
<input type="text" name="name" required><br><br>
<label>Email:</label><br>
<input type="email" name="email" required><br><br>
<label>Age:</label><br>
<input type="number" name="age"><br><br>
<button type="submit">Submit</button>
</form>
</body>
</html>